asttokens
backcall
backports.functools-lru-cache
Bottleneck
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
Flask
fonttools==4.25.0
gunicorn==21.2.0
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0
munkres==1.1.4
nest-asyncio
numexpr
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
ply==3.11
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
PyQt5==5.15.7
PyQt5-sip
python-dateutil
pytz
pywin32==305.1
pyzmq
scikit-learn
scipy==1.11.1
seaborn
sip
six
stack-data
streamlit
threadpoolctl
toml
tornado
traitlets
typing_extensions
tzdata
wcwidth
Werkzeug
zipp
